/* Custom CSS for News Feed */

body {
	height: 100%;
}

/* Header */
#header {
	background-color: #660099;
	/* fallback (Opera) */
    background: #660099;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #660099, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#660099), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

/* Footer */
#footer {
}

/* Article Feed */

#articleFeed {
	height: 90%;
	clear: left;
}

.newsItem {
	border: 1px solid #CCCCCC;
	border-top: 2px solid #CCCCCC;
	margin: 10px 5px 0px;
}

p {
	margin: 0px 0px 3px 5px;
	font-size: 13px;
	line-height: 15px;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p.title {
	font-size: 18px;
	line-height: 20px;
	padding: 5px 2px 0px 0px;
	color: black;
	/* font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; */
	font-family: 'PT Sans', sans-serif;
}

p.abstract {
	color: blue;
	font-size: 13px;
	line-height: 16px;
	margin-top: 2px;
	margin-bottom: 7px;
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;	

}

p.update_date {
	color: #808080;
	font-style: italic;
	padding-right: 5px;
}

/* ArticleFull Styles -- This is the viewing pane on the right.*/
/* There is a science to ideal reading width: http://www.maxdesign.com.au/articles/em/ */ 
#articleFull {
	border: 5px solid #CCCCCC;
	position: fixed;
	top: 2px;
	left: 480px;
	/* height: 760px; */
	height: 95%;
	background-color: none;
	font-family: Georgia, serif;
	overflow: auto;
	padding: 0px;
	margin-bottom: 5px;
}

#articleContent {
	padding: 0px 20px;
}

#articleFull * p {
	font-size: 17px;
	line-height: 22px;
	text-indent: 0px;
	font-family: Georgia, serif;
	color: #333;
	margin: 0px 0px 20px;
}

#articleContent .articleTitle {
	font-size: 32px;
	line-height: 38px;
	border-bottom: 2px solid #CCCCCC;
	margin: 20px 0px 20px;
	font-family: Georgia, serif;
}

#articleContent p.byline {
	font-style: italic;
	margin: 20px 0px 20px;	
}

#articleContent p.date {
	font-weight: bold;
	margin: 20px 0px 20px;
}

/* General */

h2 {
	font-family: Georgia, serif;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: #0080FF;
	padding: 3px 5px;
	margin-bottom: 0em;
	font-family: Georgia, serif;
	background-color: #0080FF;
	/* fallback (Opera) */
    background: #0080FF;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #0080FF, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#0080FF), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.World {
	background-color: #333;
	opacity: 0.3;
	/* fallback (Opera) */
    background: #333;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #333, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#333), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);	
}


h2.U\.S\. {
	background-color: #FF0000;
	/* fallback (Opera) */
    background: #FF0000;
	opacity: 0.3;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #FF0000, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#FF0000), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Travel {
	background-color: #FFCC00;
	/* fallback (Opera) */
    background: #FFCC00;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #FFCC00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#FFCC00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Technology {
	background-color: #0099CC;
	/* fallback (Opera) */
    background: #0099CC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #0099CC, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#0099CC), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Style, h2.Fashion {
	background-color: #CC0066;
	/* fallback (Opera) */
    background: #CC0066;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #CC0066, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#CC0066), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Sports {
	background-color: #009900;

/* fallback (Opera) */
background: #009900;
/* Mozilla: */
background: -moz-linear-gradient(left, #009900, #FFFFFF);
/* Chrome, Safari:*/
background: -webkit-gradient(linear,
            left top, right top, from(#009900), to(#FFFFFF));
/* MSIE */
filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Science {
	background-color: #99CC00;
	/* fallback (Opera) */
    background: #99CC00;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #99CC00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#99CC00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.N\.Y\. {
	background-color: #999CCC;
	/* fallback (Opera) */
    background: #999CCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #999CCC, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#999CCC), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Health {
	background-color: #FF6600;
	/* fallback (Opera) */
    background: #FF6600;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #FF6600, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#FF6600), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Dining {
	background-color: #660099;
	/* fallback (Opera) */
    background: #660099;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #660099, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#660099), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Business {
	background-color: #000099;
	/* fallback (Opera) */
    background: #000099;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #000099, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#000099), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

h2.Arts {
	background-color: #0066CC;
	/* fallback (Opera) */
    background: #0066CC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #0066CC, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#0066CC), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#000000', GradientType=1);
}

/* from grid.css */
.container {width:1000px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24, .span-25 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;}
.span-25 {width:1000px;margin-right:0;}


